* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.animated-container {
  position: relative;
  width: 70%;
  margin: 30px auto;
  background-color: dodgerblue;
}
.animated-container img {
  width: 50%;
}

.elements {
  position: absolute;
  top: 0;
  left: 0;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
}

@keyframes move {
  from {
    transform: translate(-15%, 0px);
  }
  50% {
    transform: translate(0px, -15%);
  }

  to {
    transform: translate(-15%, 0px);
  }
}

/* 0%=from 은 에니메이션의 시작의미하고 100%=to는 에니메이션의 종료를 의미한다. */
